body {
  background: rgb(50,50,50);
  font-family: Arial;
  justify-content: center;
  color: rgb(200,200,200);
}
button {
  border-radius: 5px;
  background-color: rgb(50,50,50);
  border-color: rgb(200,200,200);
  color: rgb(200,200,200);
}
nav {
  display: flex;
  flex-direction: row;
  border: 20px
}
.contact:link, .contact:visited {
  width: 200px;
  padding: 15px 10px 15px 10px;
  border: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(200,200,200);
  color: rgb(50,50,50);
}
.contact:hover, .contact:active {
  background-color: rgb(50,50,50);
  color: rgb(200,200,200);
}
.bar {
  width: 100%;
  height: 18px;
  padding: 15px 10px 15px 10px;
  border: 15px;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(200,200,200);
  color: rgb(50,50,50);
}
a:link, a:visited {
  width: 150px;
  padding: 15px 10px 15px 10px;
  border: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(200,200,200);
  color: rgb(50,50,50);
}
a:hover, a:active {
  background-color: rgb(50,50,50);
  color: rgb(200,200,200);
}