body {
  background: rgb(50,50,50);
  font-family: Arial;
  color: rgb(200,200,200);
}
button {
  border-radius: 5px;
  background-color: rgb(50,50,50);
  border-color: rgb(200,200,200);
  color: rgb(200,200,200);
}
.flex-container {
  display: flex;
  flex-direction: row;
  : 10px
}
a:link, a:visited, a:active {
  padding: 14px 12px 25px 12px;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(50,50,50);
  color: rgb(200,200,200);
}

a:hover, a:active {
  color: rgb(200,200,200)
}
